{% extends 'base.html.twig' %}

{% block title "User : " ~ user.getUserName() %}

{% block body %}

    <h1>{{ user.getUserName() }}</h1>

    {{ user.getCreatedAt()|date('Y-m-d H:i:s') }}

{% endblock %}